__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.env/

*.h5
*.ckpt
*.pth
*.pt
*.onnx
*.tflite
checkpoints/
results/
output/
misc/

logs/

data/
datasets/
filelists/

.ipynb_checkpoints/

.DS_Store
Thumbs.db
desktop.ini
._.DS_Store

.vscode/
.idea/

*.log
*.tmp
*.bak
*.swp

*.tar
*.gz
*.zip
*.rar
*.7z